.banner {
    margin-top: 30px;
}

@media (max-width:600px) {
    .banner {
        margin-top: 30px;
    }
}


.slider {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    border-radius: 12px;

}

@media (max-width:600px) {
    .slider {
        border-radius: 12px;
    }
}

.slides-container {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    border-radius: 12px;

}

.slide_img {
    width: 100% !important;
    height: 100% !important;
    padding: 0;
    margin: 0;
    border-radius: 12px;
    display: block;
}

@media (max-width:500px) {
    .slide_img {
        height: 170px !important;
    }
}


.no-animation {
    transition: none !important;
}